# ---- Images à déployer (tags) ----
FRONT_IMAGE=arnaudbena/esprit-canin-frontend:0.0.0
BACK_IMAGE=arnaudbena/esprit-canin-backend:0.9.0

# ---- Base de données ----
DB_NAME=espritcanin
DB_USER=espritcanin
DB_PASSWORD=change_me

# ---- Application (back) ----
JWT_SECRET=change_me_par_un_secret_long_et_aleatoire
ADMIN_EMAIL=admin@espritcanin.fr
ADMIN_PASSWORD=change_me
DDL_AUTO=update
SQL_FILE=init
SQL_INIT_MODE=never        # mettre "always" UNE fois pour injecter data-init.sql, puis "never"